{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Task Force Members" %}{% endblock %}

{% block extraheader %}
<script src="{% static 'js/utils/DataTableFunction.js' %}"></script>
<script src="{% static 'js/utils/AddSelect2Options.js' %}"></script>
{% endblock %}

{% block content %}

{% trans "Task Force Members" as task_force_title %}
{% include "components/breadcrumb.html" with breadcrumb_title=task_force_title show_print_button=True print_function="printTaskForcePage()" %}

<!-- Filter Section -->
<section id="filter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1-5 d-flex flex-column">
                <label class="form-label fw-medium" for="district">{% trans "Select District" %}</label> 
                <select name="district" id="district" class="form-select select2">
                    <option value="" selected disabled>{% trans "Select Districts" %}</option>
                </select>
            </div>
            <div class="col-1-5 d-flex flex-column">
                 <label class="form-label fw-medium" for="circle">{% trans "Select Circle" %}</label>
                <select name="circle" id="circle" class="form-select select2">
                    <option value="" selected disabled>{% trans "Select Circle" %}</option>
                </select>
            </div>
            <div class="col-1-5 d-flex flex-column">
                 <label class="form-label fw-medium" for="gram_panchayat">{% trans "Select Gram Panchayat" %}</label> 
                <select name="gram_panchayat" id="gram_panchayat" class="form-select select2">
                    <option value="" selected disabled>{% trans "Select Gram Panchayat" %}</option>
                </select>
            </div>
            <div class="col-1-5 d-flex flex-column">
                <label class="form-label fw-medium" for="village">{% trans "Select Village" %}</label> 
                <select name="village" id="village" class="form-select select2">
                    <option value="" selected disabled>{% trans "Select Villages" %}</option>
                </select>
            </div>
            <div class="col-1-5 d-flex flex-column">
                <label class="form-label fw-medium" for="village">{% trans "Select Task Force" %}</label> 
                <select name="team_type" id="team_type" class="form-select select2">
                    <option value="" selected disabled>{% trans "Select Task Force" %}</option>
                    <option value="VLCDMC">VLCDMC</option>
                    <option value="Search & rescue">Search & rescue</option>
                    <option value="Relief management team">Relief management team</option>
                    <option value="Shelter Management team">Shelter Management team</option>
                    <option value="First Aid team">First Aid team</option>
                    <option value="Water & Sanitation">Water & Sanitation</option>
                </select>
            </div>
        </div>
    </div>
</section>

<!-- Summary Section -->
<div class="container-fluid">
    <div class="summary-line">
        <i class="fas fa-info-circle"></i>
        <span id="summary-text">
            <img src="{% static 'images/tube-spinner.svg' %}" id="summary-loader" style="width: 20px; height: 20px; margin-right: 8px;" alt="Loading...">
          </span>
    </div>
</div>

<!-- Chart Section -->
<div class="container-fluid">
    <div class="row d-none">
        <div class="col-md-12">
            <div class="p-3" style="background-color: #fff; border-radius: 4px; border: 1px solid #CADDF8;">
                <div class="d-flex align-items-center justify-content-between mb-3 task_btn">
                    <h5 class="fw-medium fs-6 secondary__heading">{% trans "Task Force Teams Progress" %}</h5>
                    {% comment %} <div class="activity-filter-wrapper" style="position: relative; width: 250px;">
                        <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start" type="button" id="teamTypeDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 14px;">
                            <span id="team-type-display">{% trans "All Team Types" %}</span>
                        </button>
                        <div class="dropdown-menu p-2" aria-labelledby="teamTypeDropdown" style="width: 300px; max-height: 300px; overflow-y: auto;">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="select-all-team-types" checked>
                                <label class="form-check-label fw-bold" for="select-all-team-types">
                                    {% trans "All Team Types" %}
                                </label>
                            </div>
                            <hr class="my-2">
                            <div id="team-type-checkboxes">
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
                <div id="taskforce_chart" style="height: 400px;"></div>
            </div>
        </div>
    </div>
    
    <!-- Summary Table -->
    <div class="row margin_top custom_height">
        <div class="col-12">
            <div class=" h-auto overflow-auto custom_padd pt-0" style="background-color: #fff; border-radius: 4px; border: 1px solid #CADDF8;">
                <div class=" d-flex justify-content-between align-items-center card_header">
                    <h6 class="">{% trans "Task Force Teams Status" %}</h6>
                    <ul class="d-flex gap-3 list-unstyled mb-0">
                        <li><span class="completed_div"></span> {% trans "Created" %}</li>
                        <li><span class="notstarted_div"></span> {% trans "Not Created" %}</li>
                    </ul>
                     <div class="activity-filter-wrapper" style="position: relative; width: 250px;">
                        <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start" type="button" id="teamTypeDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 14px;">
                            <span id="team-type-display">{% trans "All Team Types" %}</span>
                        </button>
                        <div class="dropdown-menu p-2" aria-labelledby="teamTypeDropdown" style="width: 300px; max-height: 300px; overflow-y: auto;">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="select-all-team-types" checked>
                                <label class="form-check-label fw-bold" for="select-all-team-types">
                                    {% trans "All Team Types" %}
                                </label>
                            </div>
                            <hr class="my-2">
                            <div id="team-type-checkboxes">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive Mitigation__table custom-table cstmDataTbl vmdp__table">
                    <table class="table table-bordered" id="taskforce_summary_table">
                        <thead>
                            <tr>
                                <th rowspan="2">{% trans "S. No." %}</th>
                                <th rowspan="2">{% trans "Team Types" %}</th>
                                <th colspan="2">{% trans "Status" %}</th>
                                <th rowspan="2">{% trans "Total" %}</th>
                            </tr>
                            <tr>
                                <th>{% trans "Not Created" %}</th>
                                <th>{% trans "Created" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Task Force Table -->
<div class="container-fluid margin_top custom_height">
    <div class="row">
        <div class="col-md-12">
            <div class="Mitigation__wrapper_admin_village_rescue_eqp custom_padd pt-0">
                <div class=" d-flex align-items-center justify-content-between card_header">
                    <h6 class="">{% trans "Task Force Members List" %}</h6>
                    <button type="button" class="btn btn-sm csvBtn" onclick="downloadTableAsCSV('taskforce_table', 'taskforce_members')" style="background-color: #245FAE; color: white; border: none;">
                        <i class="fa fa-download DwnldIcon"></i> {% trans "Download CSV" %}
                    </button>
                </div>
                <div class="w-100 Mitigation__table custom-table cstmDataTbl">
                    <table class="table table-bordered" id="taskforce_table">
                        <thead>
                            <tr>
                                <th>{% trans "Sr. No" %}</th>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Father's Name" %}</th>
                                <th>{% trans "Gender" %}</th>
                                <th>{% trans "Phone Number" %}</th>
                                <th>{% trans "Position/Responsibility" %}</th>
                                <th>{% trans "District Name" %}</th>
                                <th>{% trans "Village Name" %}</th>
                                <th>{% trans "Team Type" %}</th>
                                <th>{% trans "Occupation" %}</th>
                            </tr>
                        </thead>
                        <tbody id="taskforce_body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'apexchart/apexcharts.js' %}"></script>
<script src="{% static 'js/utils/downloadTableData.js' %}"></script>
<script src="{% static 'js/utils/summery.js' %}"></script>
<script src="{% static 'js/task_force/task_force_client.js' %}"></script>
{% endblock %}